<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.onfido.reactnative.sdk">

    <application>
        <meta-data
            android:name="onfido_integration_name"
            android:value="react-native" />

        <meta-data
            android:name="onfido_integration_version"
            android:value="10.3.0" />
    </application>
</manifest>
